<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{1.}[%03L] - %m%n</Property>
        <Property name="LOG_PATTERN_DETAIL">%d{yyyy-MM-dd HH:mm:ss} %c.%M[%03L] - %m%n</Property>
        <Property name="APP_LOG_ROOT">logs</Property>
        <Property name="CLASSPATH">com.ourfancyteamname.officespace</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"></PatternLayout>
        </Console>
        <RollingFile name="allLog" fileName="${APP_LOG_ROOT}/app.log"
                     filePattern="${APP_LOG_ROOT}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"></PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"></SizeBasedTriggeringPolicy>
            </Policies>
            <DefaultRolloverStrategy max="10"></DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="debugLog" fileName="${APP_LOG_ROOT}/debug.log"
                     filePattern="${APP_LOG_ROOT}/debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"></LevelRangeFilter>
            <PatternLayout pattern="${LOG_PATTERN_DETAIL}"></PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"></SizeBasedTriggeringPolicy>
            </Policies>
            <DefaultRolloverStrategy max="10"></DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="errorLog" fileName="${APP_LOG_ROOT}/error.log"
                     filePattern="${APP_LOG_ROOT}/error-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"></LevelRangeFilter>
            <PatternLayout pattern="${LOG_PATTERN_DETAIL}"></PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"></SizeBasedTriggeringPolicy>
            </Policies>
            <DefaultRolloverStrategy max="10"></DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="${CLASSPATH}" additivity="false" level="debug">
            <AppenderRef ref="debugLog"></AppenderRef>
            <AppenderRef ref="errorLog"></AppenderRef>
            <AppenderRef ref="allLog"></AppenderRef>
            <AppenderRef ref="Console"></AppenderRef>
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="allLog"></AppenderRef>
            <AppenderRef ref="Console"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>