language: java
jdk: oraclejdk8
dist: trusty
addons:
  sonarcloud:
    organization: "our-fancy-team-name" # the key of the org you chose at step #3
before_install:
  - chmod +x mvnw
script:
#  - ./mvnw clean verify sonar:sonar -Pfull -Dsonar.projectKey=our-fancy-team-name_office-space
cache:
  directories:
    - $HOME/.m2