<div (resized)="onContainerResized($event)" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="float-right">
                <button (click)="addCre()" mat-flat-button color="primary">
                    <mat-icon>{{isAddingRdf ? 'remove' : 'add'}}</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="isAddingRdf" class="row w-100">
        <div class="col-md-12">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar></div>
                    <mat-card-title>{{'RDF.CREATE_RDF' | translate}}</mat-card-title>
                </mat-card-header>
                <h3>SUBJECT</h3>
                <div class="row">
                    <div class="col-md-7">
                        <app-select-search #namespaceSubject [options]="namespaces" [label]="'RDF.NAMESPACE'">
                        </app-select-search>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'RDF.SUBJECT' | translate}}</mat-label>
                            <input required [formControl]="subjectCreCtr" matInput>
                            <mat-error *ngIf="validator.isValid(subjectCreCtr)">
                                {{subjectCreCtr.errors.message | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <h3>PREDICATE</h3>
                <div class="row">
                    <div class="col-md-7">
                        <app-select-search #predicate [tableSearch]="tableSearchObject" [url]="url" [enableBackEndSearch]="true" [label]="'RDF.TYPE'" [displayField]="'name'">
                        </app-select-search>
                    </div>
                </div>
                <h3>OBJECT</h3>
                <div class="row">
                    <div class="col-md-3">
                        <mat-checkbox [(ngModel)]="isValueLiteral">
                            Literal
                        </mat-checkbox>
                    </div>
                </div>
                <div class="row" *ngIf="!isValueLiteral">
                    <div class="col-md-7">
                        <app-select-search #namespaceObject [options]="namespaces" [label]="'RDF.NAMESPACE'">
                        </app-select-search>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'RDF.OBJECT' | translate}}</mat-label>
                            <input required [formControl]="objectCreCtr" matInput>
                            <mat-error *ngIf="validator.isValid(objectCreCtr)">
                                {{objectCreCtr.errors.message | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="isValueLiteral">
                    <div class="col-md-7">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'RDF.OBJECT' | translate}}</mat-label>
                            <input required [formControl]="objectCreCtr" matInput>
                            <mat-error *ngIf="validator.isValid(objectCreCtr)">
                                {{objectCreCtr.errors.message | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" style="height: 20px;">

                </div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <div class="float-right">
                            <button (click)="submitCre()" [disabled]="isSubmitCreDisable()" mat-flat-button
                                color="primary">
                                <mat-icon>check</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="float-right">
                            <button (click)="closeCre()" mat-flat-button color="warn">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-md-12">
            <mat-card>
                <div class="row">
                    <div class="col-md-12">
                        <div id="ngxGraphWrapper" #ngxGraphWrapper>
                            <ngx-graph class="chart-container" [panningEnabled]="panningEnabled"
                                [enableZoom]="enableZoom" [draggingEnabled]="true" [view]="[viewWidth, viewHeight]"
                                [center$]="center" [links]="links" [showMiniMap]="true" [nodes]="nodes"
                                [clusters]="clusters" [zoomToFit$]="zoomToFit" [panToNode$]="panToNode"
                                [layout]="layout">

                                <ng-template #defsTemplate>
                                    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4"
                                        markerHeight="4" orient="auto">
                                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                                    </svg:marker>
                                </ng-template>

                                <ng-template #clusterTemplate let-cluster>
                                    <svg:g class="node cluster">
                                        <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width"
                                            [attr.height]="cluster.dimension.height" [attr.fill]="cluster.data.color" />
                                        <svg:text class="cursor-pointer" alignment-baseline="central" [attr.x]="10"
                                            [attr.y]="10">
                                            {{cluster.label}}
                                        </svg:text>
                                    </svg:g>
                                </ng-template>

                                <ng-template #nodeTemplate let-node>
                                    <svg:g container="body" class="node cursor-pointer">
                                        <svg:rect [attr.width]="node.dimension.width"
                                            [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
                                        <svg:text alignment-baseline="central" [attr.x]="10"
                                            [attr.y]="node.dimension.height / 2">
                                            {{node.label}}
                                        </svg:text>
                                    </svg:g>
                                </ng-template>

                                <ng-template #linkTemplate let-link>
                                    <svg:g container="body" class="edge cursor-pointer">
                                        <svg:path class="line" stroke-width="2.5" marker-end="url(#arrow)">
                                        </svg:path>
                                        <svg:text class="edge-label" text-anchor="middle">
                                            <textPath class="text-path" [attr.href]="'#' + link.id"
                                                [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                                {{link.label}}
                                            </textPath>
                                        </svg:text>
                                    </svg:g>
                                </ng-template>
                            </ngx-graph>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>