<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="float-right">
                <button (click)="addCre()" mat-flat-button color="primary">
                    <mat-icon>{{isAddingRole ? 'remove' : 'add'}}</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="isAddingRole" class="row w-100">
        <div class="col-md-12">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar></div>
                    <mat-card-title>{{'ROLE_EDIT_LIST.CREATE_ROLE' | translate}}</mat-card-title>
                </mat-card-header>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'ROLE_EDIT_LIST.CODE' | translate}}</mat-label>
                            <input required [formControl]="codeCreCtr" matInput>
                            <mat-error *ngIf="validator.isValid(codeCreCtr)">
                                {{codeCreCtr.errors.message | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'ROLE_EDIT_LIST.DESCRIPTION' | translate}}</mat-label>
                            <textarea rows="3" matInput [formControl]="descriptionCreCtr"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-chips #chipCreate [placeHolder]="'add users'" [label]="'ROLE_EDIT_LIST.USERS'"
                            [allChips]="allChips"></app-chips>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{'ROLE_EDIT_LIST.PERMISSION' | translate}}
                    </div>
                </div>
                <div class="row w-100" style="height: 10px;"></div>
                <div class="row">
                    <div *ngFor="let item of permissionObjects" class="col-md-3">
                        <mat-checkbox [(ngModel)]="item.check">
                            {{'PERMISSION.' + item.code | uppercase | translate}}
                        </mat-checkbox>
                    </div>
                </div>
                <div class="row" style="height: 20px;">

                </div>
                <div class="row w-100 text-danger justify-content-center">
                    <div class="col-md-12 text-center">
                        <mat-checkbox [(ngModel)]="agreement">
                            {{'MESSAGE.AGREE_TO_UPDATE'| uppercase | translate}}
                        </mat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <div class="float-right">
                            <button (click)="submitCre()" [disabled]="isSubmitCreDisable()" mat-flat-button
                                color="primary">
                                <mat-icon>check</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="float-right">
                            <button (click)="closeCre()" mat-flat-button color="warn">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>
                <div class="p-2">
                    {{'ROLE_EDIT_LIST.CODE' | translate}}
                </div>
                <div class="row w-100">
                    <div class="col-md-9">
                        <mat-form-field appearance="outline">
                            <input [formControl]="codeSearchCtr" matInput>
                            <button mat-button *ngIf="codeSearchCtr.value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="codeSearchCtr.setValue('')">
                                <mat-icon matSuffix>close</mat-icon>
                            </button>
                            <mat-icon *ngIf="!codeSearchCtr.value" matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>
                <div class="p-2">
                    {{'ROLE_EDIT_LIST.DESCRIPTION' | translate}}
                </div>
                <div class="row w-100">
                    <div class="col-md-9">
                        <mat-form-field appearance="outline">
                            <input [formControl]="descriptionSearchCtr" matInput>
                            <button mat-button *ngIf="descriptionSearchCtr.value" matSuffix mat-icon-button
                                aria-label="Clear" (click)="descriptionSearchCtr.setValue('')">
                                <mat-icon matSuffix>close</mat-icon>
                            </button>
                            <mat-icon *ngIf="!descriptionSearchCtr.value" matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef>
                <div class="p-2">
                    {{'ROLE_EDIT_LIST.USERS' | translate}}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="">
                            <input class="table-filter" [formControl]="userSearchCtr" matInput>
                            <button mat-button *ngIf="userSearchCtr.value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="userSearchCtr.setValue('')">
                                <mat-icon matSuffix>close</mat-icon>
                            </button>
                            <mat-icon *ngIf="!userSearchCtr.value" matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.users}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let element">
                <div [hidden]="isHideEditBtn(element)" class="row">
                    <div class="col-md-6 text-center">
                        <button (click)="openElement(element)" mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <div class="col-md-6 text-center">
                        <button (click)="enableDeleteRole(element)" mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div [hidden]="!isHideEditBtn(element)" class="row">
                    <div class="col-md-6 text-center">
                        <button (click)="deleteRole(element)" [disabled]="isConfirmDeleteDisable(element)"
                            mat-icon-button color="primary">
                            <mat-icon>check</mat-icon>
                        </button>
                    </div>
                    <div class="col-md-6 text-center">
                        <button (click)="cancelDeleteRole(element)" mat-icon-button color="warn">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
                <div [hidden]="!isHideEditBtn(element)" class="row">
                    <div class="text-danger text-center col-md-12">
                        <mat-checkbox [(ngModel)]="agreementToDelete">
                            {{'MESSAGE.AGREE_TO_DELETE'| uppercase | translate}}
                        </mat-checkbox>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail" [@detailExpand]="expanDetails(element)">
                    <div class="row w-100">
                        <div class="col-md-12">
                            <mat-card>
                                <mat-card-header>
                                    <div mat-card-avatar></div>
                                    <mat-card-title>{{'ROLE_EDIT_LIST.EDIT_ROLE' | translate}}</mat-card-title>
                                </mat-card-header>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>{{'ROLE_EDIT_LIST.CODE' | translate}}</mat-label>
                                            <input required [formControl]="codeCtr" matInput>
                                            <mat-error *ngIf="validator.isValid(codeCtr)">
                                                {{codeCtr.errors.message | translate}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>{{'ROLE_EDIT_LIST.DESCRIPTION' | translate}}</mat-label>
                                            <textarea rows="3" matInput [formControl]="descriptionCtr"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>{{'ROLE_EDIT_LIST.USERS' | translate}}</mat-label>
                                            <mat-chip-list #chipList>
                                                <mat-chip *ngFor="let item of chips" [selectable]="selectable"
                                                    [removable]="removable" (removed)="remove(item)">
                                                    {{item}}
                                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                </mat-chip>
                                                <input placeholder="add users..." #chipInput [formControl]="chipCtrl"
                                                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    (matChipInputTokenEnd)="add($event)">
                                            </mat-chip-list>
                                            <mat-autocomplete #auto="matAutocomplete"
                                                (optionSelected)="selected($event)">
                                                <mat-option *ngFor="let chip of filteredChips | async" [value]="chip">
                                                    {{chip}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{'ROLE_EDIT_LIST.PERMISSION' | translate}}
                                    </div>
                                </div>
                                <div class="row w-100" style="height: 10px;"></div>
                                <div class="row">
                                    <div *ngFor="let item of permissionObjects" class="col-md-3">
                                        <mat-checkbox [(ngModel)]="item.check">
                                            {{'PERMISSION.' + item.code | uppercase | translate}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="row" style="height: 20px;">

                                </div>
                                <div class="row w-100 text-danger justify-content-center">
                                    <div class="col-md-12 text-center">
                                        <mat-checkbox [(ngModel)]="agreement">
                                            {{'MESSAGE.AGREE_TO_UPDATE'| uppercase | translate}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-2">
                                        <div class="float-right">
                                            <button (click)="submit(element)" [disabled]="isSubmitDisable()"
                                                mat-flat-button color="primary">
                                                <mat-icon>check</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="float-right">
                                            <button (click)="closeElement()" mat-flat-button color="warn">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement?.code === element?.code">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator [length]="resultLength" [pageSizeOptions]="[10, 25, 50]" [pageSize]="pageSize"></mat-paginator>
</div>