.recommandedItem {
    height: 44vh;
    width: 100%;
    border-style: solid;
    overflow-x: scroll;
    white-space: nowrap;
}

.fullItem {
    height: 44vh;
    width: 100%;
    border-style: solid;
    overflow-x: scroll;
    white-space: nowrap;
}

.demo-item {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-style: solid;
    padding: 5px;
    display: inline-block
}