<div id="login" class="d-flex justify-content-center align-items-center h-80">
  <div class="card p-5 text-center col-md-5">
    <form id="login-form" class="card-body">
      <p class="h4 mb-4 label">Forgot Password</p>
      <p>Please input your email and submit to reset password</p>
      <div class="md-form">
        <input type="email" id="email" class="form-control mb-4">
        <label for="email" class="">Email</label>
      </div>

      <p>Already a member? <a target="_blank" rel="noopener noreferrer"
                              href="">Sign In</a></p>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <button mdbBtn color="info" block="true" class="btn rounded-pill waves-effect align-center">Reset Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
