<div id="login" class="d-flex justify-content-center align-items-center h-80">
  <div class="card p-5 text-center col-md-5">
    <form id="login-form" class="card-body">
      <p class="h4 mb-4 label">Register</p>
      <div class="md-form">
        <input type="email" id="username" class="form-control mb-4">
        <label for="username" class="">User name</label>
      </div>
      <div class="md-form">
        <input type="password" id="password" class="form-control mb-4">
        <label for="password" class="">Password</label>
      </div>
      <div class="md-form">
        <input type="password" id="password" class="form-control mb-4">
        <label for="password" class="">Confirm Password</label>
      </div>
      <p>Already a member? <a target="_blank" rel="noopener noreferrer"
                              href="https://github.com/our-fancy-team-name/office-space/issues">Sign In</a></p>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <button mdbBtn color="info" block="true" class="btn rounded-pill waves-effect align-center">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
